<ng-container *ngIf="weatherData; else loading">
  <div [class.flex-col]="responsive.isMobile()" class="flex justify-between gap-2">
    <ng-container *ngIf="responsive.isMobile()" [ngTemplateOutlet]="timeAndCondition"></ng-container>
    <div class="flex items-center justify-between">
      <div class="flex items-start">
        <img
          class="m-[-10px] ml-[-15px] mr-0"
          height="64"
          width="64"
          [ngSrc]="weatherData.current.condition.icon | localLink"
          [alt]="weatherData.current.condition.text"
        />
        <span
          class="text-4xl">{{ responsive.unitSystem() === "metric" ? weatherData.current.temp_c : weatherData.current.temp_f }}</span>
        <div class="inline-flex items-start gap-1">
          <span
            (click)="responsive.toggleUnitSystem()"
            class="cursor-pointer"
            [class]="responsive.unitSystem() === 'metric' ? 'font-bold' : 'font-light'"
            [class.pointer-events-none]="responsive.unitSystem() === 'metric'"
          >°C</span
          >
          <span>|</span>
          <span
            (click)="responsive.toggleUnitSystem()"
            class="cursor-pointer"
            [class]="responsive.unitSystem() === 'imperial' ? 'font-bold' : 'font-light'"
            [class.pointer-events-none]="responsive.unitSystem() === 'imperial'"
          >°F</span
          >
        </div>
      </div>
      <div class="ml-3 inline-flex flex-col">
        <span class="text-xs"
        >Precipitation:
          {{ responsive.unitSystem() === "metric" ? weatherData.current.precip_mm + " mm" : weatherData.current.precip_in + " in" }}</span
        >
        <span class="text-xs">Humidity: {{ weatherData.current.humidity }}%</span>
        <span class="text-xs"
        >Wind: {{ responsive.unitSystem() === "metric" ? weatherData.current.wind_kph + " km/h" : weatherData.current.wind_mph + " mph" }}</span
        >
      </div>
    </div>
    <ng-container *ngIf="!responsive.isMobile()" [ngTemplateOutlet]="timeAndCondition"></ng-container>
  </div>

  <ng-template #timeAndCondition>
    <div
      [ngClass]="{
        'flex-col': !responsive.isMobile(),
        'justify-between': responsive.isMobile(),
        'items-end': !responsive.isMobile(),
        'items-center': responsive.isMobile(),
        'ml-2': !responsive.isMobile()
      }"
      class="inline-flex text-end"
    >
      <span class="leading-none">{{
        weatherData.location.localtime | date : (responsive.unitSystem() === "metric" ? "EEEE, HH:mm" : "EEEE, hh:mm a")
        }}</span>
      <span class="text-sm">{{ weatherData.current.condition.text }}</span>
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>Loading</ng-template>
